<template>
    <div>
            <van-stepper v-model="value" step="0.2" :decimal-length="1" />
    </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    setup() {
        
    },
})
</script>
